@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: 300;
}

h2 {
  font-weight: 400;
}

nav {
  color: white;
  background-color: #202029;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 90;
  padding: 1rem 0;
  box-shadow: -5px 0 20px black;
  align-items: center;
  top: 0;
}
nav .btn-home {
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  font-size: 2rem;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li a {
  padding: 1rem 2rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  display: inline-block;
  transition: color 300ms;
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: #d67474;
}
nav .link-container {
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav .link-container li {
  margin: 0 1.5rem;
}
nav .link-container li a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 10px;
  transition: color 300ms;
  color: white;
}
nav .link-container li a i {
  color: white;
  font-size: 2.5rem;
}
nav .link-container li a:hover {
  color: #d67474;
}

header {
  background-color: #202029;
  color: white;
}
header .title-container {
  padding: 2rem 7rem;
  position: absolute;
  text-align: center;
  box-shadow: 0px 0px 5px black;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(32, 32, 41, 0.95);
}
header .title-container h1 {
  font-size: 6rem;
}
header .title-container h2 {
  font-size: 3rem;
}
header .title-container .contact-container {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.5rem;
  display: none;
}
header .title-container .contact-container a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  padding: 1rem;
  border-radius: 10px;
  transition: box-shadow 300ms;
}
header .title-container .contact-container a i {
  margin-right: 1rem;
}
header .title-container .contact-container a:hover {
  box-shadow: 0px 0px 15px black;
}
header .background-img-container {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
header .background-img-container img {
  width: 100%;
  max-width: 100%;
}

.home-main {
  position: relative;
  top: 100vh;
  background-color: white;
}
.home-main .listen {
  padding: 3vh 0;
  position: relative;
}
.home-main .listen h2 {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #2e2f36;
}
.home-main .listen ul {
  list-style-type: none;
  padding: 5vh 20vw;
  display: flex;
  justify-content: center;
}
.home-main .listen ul li a {
  background-color: rgba(32, 32, 41, 0.99);
  transition: transform 300ms;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5rem 8rem;
  position: relative;
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
  color: white;
}
.home-main .listen ul li a:hover {
  transform: scale(1.1);
}
.home-main .listen ul li:nth-child(1) {
  margin-right: 0.5rem;
}
.home-main .listen ul li:nth-child(2) {
  margin-left: 0.5rem;
}
.home-main .who-container {
  box-shadow: 0 0 5px black;
  position: relative;
  overflow: hidden;
  font-size: 2rem;
  color: #2e2f36;
  font-size: 2.2rem;
  text-align: center;
}
.home-main .who-container div {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
  padding: 13vh 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-main .who-container div .who-image {
  box-shadow: 0 0 5px black;
  width: 40%;
}
.home-main .who-container div > * {
  margin: 0 4rem;
}
.home-main .who-container img {
  filter: grayscale(1);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-10%);
}
.home-main .who-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #2e2f36;
}
.home-main .who-container p {
  text-align: justify;
  font-size: 2rem;
  font-weight: 400;
}
.home-main .skills ul {
  list-style-type: none;
  justify-content: center;
  display: flex;
  flex: 1;
}
.home-main .skills ul li {
  position: relative;
  overflow: hidden;
  text-align: center;
  flex: calc(1 / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  z-index: 10;
}
.home-main .skills ul li .text-container {
  padding: 0 3rem;
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-main .skills ul li .text-container.dark {
  color: #b3b3b3;
  background-color: rgba(32, 32, 41, 0.8);
}
.home-main .skills ul li .text-container.light {
  color: #2e2f36;
  background-color: rgba(207, 207, 207, 0.8);
}
.home-main .skills ul li img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}
.home-main .skills ul li img.two {
  transform: translateY(10%) scale(1.2);
}
.home-main .skills ul li img.three {
  transform: translateY(5%) scale(1.2);
}
.home-main .skills ul li h3 {
  margin-bottom: 1.5rem;
  font-size: 4rem;
}
.home-main .skills ul li p {
  font-size: 2rem;
  text-align: justify;
}
.home-main .music {
  background-color: white;
  display: flex;
  color: #2e2f36;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3.5rem;
}
.home-main .music h2 {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #2e2f36;
  margin: 3.5rem 0;
}
.home-main .music iframe {
  width: 50%;
  height: 40vh;
  box-shadow: 0 0 10px black;
}

.demos-main {
  overflow-y: scroll;
  background-color: #202029;
  height: 100vh;
  padding-top: 10vh;
  list-style-type: none;
  color: white;
}
.demos-main .demo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.demos-main .demo-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.demos-main .demo-list li .border {
  width: 60%;
  border-top: 1px solid white;
  height: 5px;
}
.demos-main .demo-list li .demo-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.demos-main .demo-list li .demo-content div {
  flex-direction: column;
  display: flex;
}
.demos-main .demo-list li audio {
  width: 30%;
  padding-right: 1rem;
}
.demos-main .demo-list li div {
  padding-left: 1rem;
  width: 70%;
}
.demos-main h3 {
  font-size: 3rem;
  text-align: center;
}
.demos-main p {
  text-align: justify;
  font-size: 1.5rem;
}

footer {
  background-color: #202029;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

@media (max-width: 1500px) {
  nav {
    justify-content: center;
    display: none;
  }

  header {
    position: static;
  }
  header .background-img-container {
    position: static;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    width: 100%;
  }
  header .background-img-container img {
    width: 100%;
    max-width: 100%;
  }
  header .title-container {
    transform: none;
    position: static;
    height: auto;
  }
  header .title-container h1 {
    text-align: center;
    font-size: 4rem;
  }
  header .title-container h2 {
    text-align: center;
  }
  header .title-container .link-container {
    justify-content: center;
    margin: 2rem 0;
  }
  header .title-container .link-container li a {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  header .title-container .link-container li a i {
    font-size: 3.5rem;
  }

  .home-main {
    width: 100%;
    margin: 0;
    position: static;
  }
  .home-main .who-container {
    padding: 5rem 0rem;
  }
  .home-main .who-container img {
    transform: translateY(50%);
    display: none;
  }
  .home-main .who-container div {
    padding: 2rem 0;
  }
  .home-main .who-container div p {
    margin: 0;
    padding: 0 3.5rem;
  }
  .home-main .skills {
    display: flex;
    justify-content: center;
  }
  .home-main .skills ul {
    flex-direction: column;
  }
  .home-main .skills ul li {
    height: 20rem;
  }
  .home-main .skills ul li p {
    text-align: justify;
  }
  .home-main .music h2 {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: #2e2f36;
    margin: 3.5rem 0;
  }
  .home-main .music .spotify-player-container {
    width: 90%;
  }
  .home-main .music .spotify-player-container iframe {
    width: 90%;
    height: 40vh;
    box-shadow: 0 0 10px black;
  }
}