@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
p {
  font-weight: 300;
}
h2 {
  font-weight: 400;
}

$dark-background: #202029;
$light-background: rgb(207, 207, 207);
$dark-text: rgb(46, 47, 54);
$section-background: rgba($light-background, 0.8);
$section-background-dark: rgba($dark-background, 0.99);
$text-hover-color: rgb(214, 116, 116);

@mixin section-header {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: $dark-text;
}

nav {
  background-color: $dark-background;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
  // height:8vh;
  padding: 1rem 0;
  box-shadow: -5px 0 20px black;
  $element-padding: 1rem 2rem;
  align-items: center;
  top: 0;
  .btn-home {
    text-decoration: none;
    color: white;
    padding: $element-padding;
    font-size: 2rem;
  }
  ul {
    display: flex;
    list-style-type: none;
    li {
      a {
        padding: $element-padding;
        font-size: 1.7rem;
        text-transform: uppercase;
        display: inline-block;
        transition: color 300ms;
        text-decoration: none;
        color: white;
        &:hover {
          color: $text-hover-color;
        }
      }
    }
  }
}

.link-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  display: flex;
  // margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    margin: 0 1.5rem;
    a {
      i {
        font-size: 2.5rem;
      }
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 3rem;
      display: flex;
      flex-direction: column;
      box-shadow: none;
      transition: box-shadow 300ms;
      padding: 0.5rem;
      border-radius: 10px;
      transition: color 300ms;
      text-decoration: none;
      color: white;
      &:hover {
        color: $text-hover-color;
      }
      // &:hover {
      //   box-shadow: 0px 0px 15px black;
      // }
    }
  }
}
header {
  background-color: $dark-background;
  color: white;
  .title-container {
    padding: 2rem 7rem;
    position: absolute;
    text-align: center;
    box-shadow: 0px 0px 5px black;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba($dark-background, 0.95);
    h1 {
      font-size: 6rem;
    }
    h2 {
      font-size: 3rem;
    }
    .contact-container {
      margin-top: 1rem;
      text-align: center;
      font-size: 2.5rem;
      display: none;
      a {
        color: white;
        text-decoration: none;
        font-weight: 300;
        padding: 1rem;
        border-radius: 10px;
        i {
          margin-right: 1rem;
        }
        transition: box-shadow 300ms;
        &:hover {
          box-shadow: 0px 0px 15px black;
        }
      }
    }
  }

  .background-img-container {
    overflow: hidden;
    height: 100vh;
    img {
      width: 100%;
      max-width: 100%;
    }
    position: fixed;
    z-index: -1;
  }
}

.home-main {
  position: relative;
  top: 100vh;
  background-color: white;
  .listen {
    padding: 3vh 0;
    position: relative;
    h2 {
      @include section-header();
    }
    ul {
      list-style-type: none;
      padding: 5vh 20vw;
      display: flex;
      justify-content: center;
      li {
        a {
          background-color: $section-background-dark;
          transition: transform 300ms;
          border: 1px solid black;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          padding: 5rem 8rem;
          position: relative;
          text-decoration: none;
          font-size: 2rem;
          display: inline-block;
          color: white;
          &:hover {
            transform: scale(1.1);
          }
        }
        &:nth-child(1) {
          margin-right: 0.5rem;
        }
        &:nth-child(2) {
          margin-left: 0.5rem;
        }
      }
    }
  }
  .who-container {
    box-shadow: 0 0 5px black;
    position: relative;
    overflow: hidden;
    font-size: 2rem;
    color: $dark-text;
    font-size: 2.2rem;
    text-align: center;
    div {
      position: relative;
      background-color: rgba(255, 255, 255, 0.6);
      z-index: 10;
      padding: 13vh 30vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .who-image {
        box-shadow: 0 0 5px black;
        width: 40%;
      }
      & > * {
        margin: 0 4rem;
      }
    }
    img {
      filter: grayscale(1);
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform: translateY(-10%);
    }
    h2 {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: 600;
      color: $dark-text;
    }
    p {
      text-align: justify;
      font-size: 2rem;
      font-weight: 400;
    }
  }

  .skills {
    // overflow:visible;
    // filter:drop-shadow(0 0 3px black);
    ul {
      // box-shadow: 0 0 10px black;
      // z-index:100;
      list-style-type: none;
      justify-content: center;
      display: flex;
      flex: 1;
      li {
        position: relative;
        overflow: hidden;
        text-align: center;
        flex: calc(1 / 3);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35rem;
        z-index: 10;
        .text-container {
          padding: 0 3rem;
          z-index: 10;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &.dark {
            color: rgb(179, 179, 179);
            background-color: rgba($section-background-dark, 0.8);
          }
          &.light {
            color: $dark-text;
            background-color: rgba($section-background, 0.8);
          }
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 5;
          width: 100%;
          // &.one {
          //   // transform:translateY(0%);
          // }
          &.two {
            transform: translateY(10%) scale(1.2);
          }
          &.three {
            transform: translateY(5%) scale(1.2);
          }
        }
        h3 {
          margin-bottom: 1.5rem;
          font-size: 4rem;
        }
        p {
          font-size: 2rem;
          text-align: justify;
        }
      }
    }
  }

  .music {
    // display: none;
    background-color: white;
    display: flex;
    color: $dark-text;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3.5rem;
    h2 {
      @include section-header;
      margin: 3.5rem 0;
    }
    iframe {
      width: 50%;
      height: 40vh;
      box-shadow: 0 0 10px black;
    }
    // .spotify-player-container {
    //   margin-bottom: 5rem;
    //   width: 50%;
    //   height: 50vh;
    //   display:flex;
    //   flex-direction:column;
    //   align-items:center;
    // }
    // div {
    //   h3 {
    //     font-size: 3rem;
    //     margin: 1rem 0;
    //     font-weight: 400;
    //     text-align: center;
    //   }
    // }
    // .demos-link-container{
    //   width:50%;
    //   display:flex;
    //   flex-direction:column;
    //   align-items:center;
    //   a {
    //     padding: 3rem 5rem;
    //     font-size: 2rem;
    //     text-decoration: none;
    //     color: black;
    //     border-radius:15px;
    //     background-color:$dark-background;
    //     color:white;
    //   }
    // }
  }
}

.demos-main {
  overflow-y:scroll;
  background-color: $dark-background;
  height: 100vh;
  padding-top: 10vh;
  .demo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      width:50%;
      .border {
        // background-color: red;
        width: 60%;
        border-top: 1px solid white;
        height: 5px;
      }
      .demo-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        div {
          flex-direction: column;
          display: flex;
        }
      }
      audio {
        width:30%;
        padding-right: 1rem;
      }
      div {
        padding-left: 1rem;
        width:70%;
      }
    }
  }
  list-style-type: none;
  color: white;

  h3 {
    font-size: 3rem;
    text-align: center;
  }
  p {
    text-align: justify;
    font-size: 1.5rem;
  }
}

footer {
  background-color: $dark-background;
  color: white;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 0 10vw;
}

@media (max-width: 1500px) {
  nav {
    justify-content: center;
    display: none;
  }
  header {
    position: static;
    .background-img-container {
      position: static;
      max-width: 100%;
      height: auto;
      overflow: hidden;
      width: 100%;
      img {
        width: 100%;
        max-width: 100%;
      }
    }
    .title-container {
      transform: none;
      position: static;
      height: auto;
      h1 {
        text-align: center;
        font-size: 4rem;
      }
      h2 {
        text-align: center;
      }
      .link-container {
        justify-content: center;
        margin: 2rem 0;
        li a {
          i {
            font-size: 3.5rem;
          }
          font-size: 1.5rem;
          padding: 0.5rem;
        }
      }
    }
  }
  .home-main {
    width: 100%;
    margin: 0;
    position: static;
    .who-container {
      padding: 5rem 0rem;
      img {
        transform: translateY(50%);
        display: none;
      }
      div {
        padding: 2rem 0;
        p {
          margin: 0;

          padding: 0 3.5rem;
        }
      }
    }
    .skills {
      display: flex;
      justify-content: center;
      ul {
        flex-direction: column;
        li {
          height: 20rem;
          p {
            text-align: justify;
          }
        }
      }
    }
    .music {
      h2 {
        @include section-header;
        margin: 3.5rem 0;
      }
      .spotify-player-container {
        width: 90%;
        iframe {
          width: 90%;
          height: 40vh;
          box-shadow: 0 0 10px black;
        }
      }
    }
  }
}
