@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
p {
  font-weight: 300;
}
h2 {
  font-weight: 400;
}

$dark-background: #202029;
$light-background: rgb(207, 207, 207);
$dark-text: rgb(46, 47, 54);
$section-background: rgba($light-background, 0.8);
$section-background-dark: rgba($dark-background, 0.99);
$text-hover-color: rgb(214, 116, 116);

@mixin section-header {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: $dark-text;
}

nav {
  background-color: $dark-background;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: -5px 0 20px black;
  $element-padding: 1rem 2rem;
  align-items: center;
  top: 0;
  .btn-home {
    text-decoration: none;
    color: white;
    padding: $element-padding;
    font-size: 3rem;
  }
  ul {
    display: flex;
    list-style-type: none;
    li {
      a {
        padding: $element-padding;
        font-size: 2rem;
        text-transform: uppercase;
        display: inline-block;
        transition: color 300ms;
        text-decoration: none;
        color: white;
        &:hover {
          color: $text-hover-color;
        }
      }
    }
  }
}

header {
  background-color: $dark-background;
  color: white;
  .link-container {
    list-style-type: none;
    display:flex;
    margin-top:2rem;
    flex-wrap: wrap;
    justify-content:space-between;
    // display: none;
    li {
      margin: 0 1rem;
      a {
        i {
          font-size: 2.5rem;
        }
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        box-shadow: none;
        transition: box-shadow 300ms;
        padding: 0.5rem;
        border-radius: 10px;
        &:hover {
          box-shadow: 0px 0px 15px black;
        }
      }
    }
  }
  .title-container {
    padding: 2rem 7rem;
    position: absolute;
    text-align: center;
    box-shadow: 0px 0px 5px black;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    // top:25%;
    // left:10%;
    background-color: rgba($dark-background, 0.95);
    h1 {
      font-size: 6rem;
    }
    h2 {
      font-size: 3rem;
    }
    .contact-container {
      margin-top: 1rem;
      text-align: center;
      font-size: 2.5rem;
      display: none;
      a {
        color: white;
        text-decoration: none;
        font-weight: 300;
        padding: 1rem;
        border-radius: 10px;
        i {
          margin-right: 1rem;
        }
        transition: box-shadow 300ms;
        &:hover {
          box-shadow: 0px 0px 15px black;
        }
      }
    }
  }

  .background-img-container {
    overflow: hidden;
    height: 100vh;
    img {
      width: 100%;
      max-width: 100%;
    }
    position: fixed;
    z-index: -1;
  }
}

main {
  position: relative;
  top: 100vh;
  // transform:translateX(-50%);
  // left:50%;
  // padding:2rem 0;
  // margin-bottom:3vh;
  margin: 0 5vw;
  margin-bottom: 3vh;
  box-shadow: 0 0 10px black;
  section {
    z-index: 5;
  }
  .who-container {
    background-color: $section-background;
    font-size: 2rem;
    padding: 5vh 25vw;
    color: $dark-text;
    font-size: 2.2rem;
    text-align: center;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 4vh;
      .who-image {
        box-shadow: 0 0 5px black;
        width: 40%;
      }
      & > * {
        margin: 0 4rem;
      }
    }
    h2 {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: 600;
      color: $dark-text;
    }
    p {
      text-align: justify;
      font-size: 2rem;
      font-weight: 400;
    }
    // margin-bottom:5vh;
  }

  .skills {
    // box-shadow:0 0 10px black;
    filter: drop-shadow(0 0 10px black);
    z-index: 10;
    ul {
      list-style-type: none;
      flex: 1;
      justify-content: center;
      display: flex;
      li {
        text-align: center;
        padding: 7rem 3rem;
        flex: calc(1 / 3);
        color: $dark-text;
        background-color: $section-background;
        h3 {
          margin-bottom: 1.5rem;
          font-size: 4rem;
        }
        p {
          font-size: 2rem;
        }
        &:nth-child(odd) {
          color: rgb(179, 179, 179);
          background-color: $section-background-dark;
        }
      }
    }
    // margin-bottom:5vh;
  }

  .music {
    background-color: $section-background;
    display: flex;
    color: $dark-text;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3.5rem;
    h2 {
      @include section-header;
      margin: 3.5rem 0;
    }
    iframe {
      width: 50%;
      height: 40vh;
      box-shadow: 0 0 10px black;
    }
  }
}

@media (max-width: 1500px) {
  header {
    position: static;
    .background-img-container {
      position: static;
      max-width: 100%;
      height: auto;
      overflow: hidden;
      width: 100%;
      img {
        width: 100%;
        max-width: 100%;
      }
    }
    .title-container {
      transform: none;
      position: static;
      height: auto;
      h1 {
        text-align: center;
        font-size: 4rem;
      }
      h2 {
        text-align: center;
      }
      .link-container {
        justify-content: center;
        margin: 2rem 0;
        li a {
          i {
            font-size: 3.5rem;
          }
          font-size: 1.5rem;
          padding: 0.5rem;
        }
      }
    }
  }
  main {
    width: 100%;
    margin: 0;
    position: static;
    .who-container {
      padding: 5rem 0rem;
    }
    .skills {
      display: flex;
      justify-content: center;
      ul {
        flex-direction: column;
        li {
          p {
            text-align: justify;
          }
        }
      }
    }
    .music {
      h2 {
        @include section-header;
        margin: 3.5rem 0;
      }
      iframe {
        width: 90%;
        height: 40vh;
        box-shadow: 0 0 10px black;
      }
    }
  }
}
